.home_wrap {
    background-image: url('https://github.com/user-attachments/assets/b194c6ef-39e4-44c8-9478-4257c1bd23cd');
    background-size: contain;
    background-repeat: no-repeat;
}

.home_wrap h3 {
    font-family: "nanumbarungothicbold";
    text-align: center;
    color: #fff;
}

.home_bg {
    background: #fff;
    position: relative;
}

.home_cont {
    position: relative;
}

.home_top {
    margin: 0 auto;
}

#homeVisual {
    position: relative;
}

.month_event {
    margin: 0 auto;
}

.event_wrap {
    display: flex;
}

.event_box {
    overflow: hidden;
    position: relative;
}

.event_box img {
    object-fit: cover;
    transition: .2s;
}

.event_box:hover img {
    scale: 1.05;
}

.event_box:last-child {
    margin-right: 0px;
}

.hotpic,
.most_travel {
    margin: 0 auto;
    position: relative;
}

.event_banner {

    background-image: url('https://github.com/user-attachments/assets/cb2d0c95-f5ec-489c-a308-75512ff697f2');
    background-size: cover;
    background-repeat: no-repeat;
}


/* swiper */
#homeVisual .swiper {}

#homeVisual .swiper-slide {
    border-radius: 4px;
}

.most_main,
.hotpic_main {
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.hotpic_main {
    background-image: url('https://github.com/user-attachments/assets/13ab80bf-040f-4313-bf6a-9d7684a28cfa');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0px;
}

.hotpic_main>div:nth-of-type(2) {
    position: absolute;
    text-align: center;
}

.hotpic_main>div:nth-of-type(2) p {
    color: #fff;
}

.korea,
.japan,
.thai,
.phil {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.korea {
    background-image: url('https://github.com/user-attachments/assets/ba9e4990-9dd4-4815-ab57-813e47051af4');
}

.japan {
    background-image: url('https://github.com/user-attachments/assets/a484261e-e94e-477a-ba5d-f555389cac55');
}

.thai {
    background-image: url('https://github.com/user-attachments/assets/b1f95f41-0626-455a-96f1-5f802006e8a3');
}

.phil {
    background-image: url('https://github.com/user-attachments/assets/bdc2577c-2cfa-45ec-b562-ab85641f07e2');
}

.most_main>div:nth-of-type(2) {
    position: absolute;
    text-align: center;
}

.most_main>div:nth-of-type(2) p {
    color: #fff;
}

.most_main>div:nth-of-type(2) button,
.hotpic_main>div:nth-of-type(2) button {
    background: #fff;
    border: none;
    border-radius: 6px;
    transition: .2s;
}

.most_main>div:nth-of-type(2) button:hover,
.hotpic_main>div:nth-of-type(2) button:hover {
    background: #eeeeee;
}

.most_main>div:nth-of-type(2) button:active,
.hotpic_main>div:nth-of-type(2) button:active {
    background: #d4d4d4;
}

.most_box,
.hotpic_box {
    overflow: hidden;
    position: relative;
}

.most_box:hover,
.hotpic_box:hover {
    cursor: pointer;
}

.most_box:hover>div,
.hotpic_box:hover>div:nth-of-type(1) {
    scale: 1.05;
}

.most_box>div,
.hotpic_box>div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
}

.most_box>p {
    position: absolute;
    color: #fff;
}

.hotpic_grade {
    display: flex;
}

.hotpic_grade>div {
    background-size: cover;
    background-repeat: no-repeat;
}

.hotpic_box>div>p {
    color: #fff;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hotpic_box>div>div:nth-of-type(2) {
    display: flex;
    position: absolute;
}

.hotpic_box>div>div:nth-of-type(2)>span {
    color: #bfbfbf;
}

.hotpic_box>div>div:nth-of-type(2)>p {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'nanumbarungothicbold';
}

.hotpic_box>div:nth-of-type(2) {
    position: absolute;
}

.most_bg,
.hotpic_bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4))
}

.most_box:last-child {
    margin-right: 0px;
}

.hotpic_wrap .swiper-button-prev,
.hotpic_wrap .swiper-button-next,
.most_wrap .swiper-button-prev,
.most_wrap .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 48px;
    height: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    transition: .2s;
}

.hotpic_wrap .swiper-button-prev,
.most_wrap .swiper-button-prev {
    background-image: url(https://github.com/user-attachments/assets/07969943-db2a-4af3-96d1-4d66f8d1a604);
}

.hotpic_wrap .swiper-button-next,
.most_wrap .swiper-button-next {
    background-image: url(https://github.com/user-attachments/assets/88bc4b88-e958-4478-9dc1-1579810ec7c2);
    right: 0;
}

.hotpic_wrap .swiper-button-prev:hover,
.hotpic_wrap .swiper-button-next:hover,
.most_wrap .swiper-button-prev:hover,
.most_wrap .swiper-button-next:hover {
    opacity: 1;
    cursor: pointer;
}

/* footer */
#homeFooter {
    position: relative;
}

.footer_wrap {
    position: relative;
    border-top: 1px solid rgb(216, 223, 232);
}

.footer_top {
    display: flex;
}

.footer_top>div {}

.footer_wrap p {
    font-family: "nanumbarungothicbold";
    color: rgb(34, 54, 87);
    ;
}

.footer_wrap li {
    color: rgb(34, 54, 87);
}

.footer_wrap ul {
    margin-top: 10px;
}

.footer_bottom {
    border-top: 1px solid rgb(216, 223, 232);
}

.bottom_top {
    text-align: right;
}

.portfolio_cont {
    display: flex;
    margin: 0 auto;
}

.portfolio_cont div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio_cont span {
    font-family: 'pretendard-regular';
    color: rgb(34, 54, 87);
}

.design_cont {
    display: flex;
}

.design_cont div {}

.design_cont span {
    font-family: 'pretendard-regular';
    color: rgb(34, 54, 87);
}

.payment>div:nth-of-type(2) {}

.sns_wrap,
.pay_wrap {
    display: flex;
}

.sns_icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pay_icon {
    margin-right: 8px;
}

.sns_wrap>li:last-child .sns_icon,
.pay_wrap>li:last-child .pay_icon {
    margin-right: 0px;
}


.bottom_under span {
    display: block;
    text-align: center;
    font-family: 'pretendard-regular';
}

/* base */
@media screen and (min-width: 1281px) {
    .home_wrap {
        padding-top: 100px;
        background-size: cover;
    }

    .home_top {
        margin-top: 100px;
    }

    .home_wrap h3 {
        margin-top: 20px;
    }

    #homeVisual {
        top: -45px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
    }

    .home_cont {
        padding: 80px 0px;
        width: 1000px;
        margin: 0 auto;
    }

    .event_wrap {
        aspect-ratio: 15 / 3;
        object-fit: cover;
        margin-top: 8px;
    }

    .event_box {
        height: 100%;
        border-radius: 4px;
    }

    .event_box img {
        height: 100%;
    }

    .hotpic,
    .most_travel {
        margin-top: 40px;
    }

    .hotpic_wrap,
    .most_wrap {
        aspect-ratio: 16 / 4.5;
        margin-top: 8px;
    }

    .hotpic_box,
    .most_box,
    .hotpic_main,
    .most_main {
        flex: 1 0 20%;
        height: 100%;
        margin-right: 10px;
        border-radius: 4px;
    }


    .hotpic_main .hotpic_bg,
    .most_main .most_bg {
        background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.6) 100%);
        width: 100%;
        height: 100%;
    }

    .hotpic_main,
    .most_box:last-child {
        margin-right: 0;
    }

    .hotpic .swiper,
    .most_travel .swiper {
        height: 100%;
    }

    .hotpic .swiper-slide,
    .most_travel .swiper-slide {
        display: flex;
    }

    .hotpic_box>div,
    .most_box>div {
        height: 100%;
    }

    .hotpic_text {
        width: 100%;
        top: 0;
        padding: 10px;
        background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.4) 100%);
    }

    .most_bg {
        background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.4) 100%);
        height: 100%;
    }

    .hotpic_text>p {
        width: 80%;
    }

    .most_box>p {
        bottom: 10px;
        left: 10px;
    }

    .hotpic_grade {
        width: 70px;
        height: 14px;
        margin-top: 20px;
    }

    .hotpic_grade>div {
        width: 14px;
        height: 14px;
    }

    .hotpic_price {
        bottom: 10px;
        left: 10px;
    }

    .hotpic_price span {
        font-size: 12px;
        margin-left: 4px;
    }

    .main_text_box {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        padding: 0px 10px;
    }

    .main_text_box button {
        width: 100%;
        height: 42px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 1280px) {

    /** 타블렛 가로, 노트북 */
    .home_wrap {
        padding-top: 100px;
        background-size: cover;
    }

    .home_top {
        margin-top: 100px;
    }

    .home_wrap h3 {
        margin-top: 20px;
    }

    #homeVisual {
        top: -45px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
    }

    .home_cont {
        padding: 80px 40px;
        width: 100%;
    }

    .event_wrap {
        aspect-ratio: 15 / 3;
        object-fit: cover;
        margin-top: 8px;
    }

    .event_box {
        height: 100%;
        border-radius: 4px;
    }

    .event_box img {
        height: 100%;
    }

    .hotpic,
    .most_travel {
        margin-top: 40px;
    }

    .hotpic_wrap,
    .most_wrap {
        aspect-ratio: 16 / 4.5;
        margin-top: 8px;
    }

    .hotpic_box,
    .most_box,
    .hotpic_main,
    .most_main {
        flex: 1 0 20%;
        height: 100%;
        margin-right: 10px;
        border-radius: 4px;
    }


    .hotpic_main .hotpic_bg,
    .most_main .most_bg {
        background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.6) 100%);
        width: 100%;
        height: 100%;
    }

    .hotpic_main,
    .most_box:last-child {
        margin-right: 0;
    }

    .hotpic .swiper,
    .most_travel .swiper {
        height: 100%;
    }

    .hotpic .swiper-slide,
    .most_travel .swiper-slide {
        display: flex;
    }

    .hotpic_box>div,
    .most_box>div {
        height: 100%;
    }

    .hotpic_text {
        width: 100%;
        top: 0;
        padding: 10px;
        background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.4) 100%);
    }

    .most_bg {
        background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.4) 100%);
        height: 100%;
    }

    .hotpic_text>p {
        width: 80%;
    }

    .most_box>p {
        bottom: 10px;
        left: 10px;
    }

    .hotpic_grade {
        width: 70px;
        height: 14px;
        margin-top: 20px;
    }

    .hotpic_grade>div {
        width: 14px;
        height: 14px;
    }

    .hotpic_price {
        bottom: 10px;
        left: 10px;
    }

    .hotpic_price span {
        font-size: 12px;
        margin-left: 4px;
    }

    .main_text_box {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        padding: 0px 10px;
    }

    .main_text_box button {
        width: 100%;
        height: 42px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 768px) {

    /** 모바일 가로, 타블렛 세로 */
    .home_wrap {
        background: none;
        margin-top: 80px;
        padding: 10px;
    }

    .home_top {
        margin-top: 0px;
    }

    .home_wrap h3 {
        font-size: 14px;
        text-align: left;
        padding: 0px;
        color: #0c0121;
    }

    .mb_finder_btn_wrap {
        width: 100%;
        height: 52px;
        padding: 0px;
        margin-top: 10px;
    }

    .mb_finder_btn {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        border-radius: 6px;
        line-height: 52px;
        display: flex;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px #1919192f;
    }

    .mb_finder_btn_icon {
        width: 40px;
        height: 40px;
        margin-top: 6px;
        background-image: url("https://github.com/user-attachments/assets/8c6b0ce4-8de0-499a-ae85-2f4b352375ef");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mb_finder_btn p {
        font-size: 14px;
    }

    #homeVisual {
        position: relative;
        margin-top: 40px;
        top: auto;
        border-radius: 0;
    }

    .home_cont {
        padding: 0px 10px;
    }

    .hotpic,
    .most_travel {
        margin-top: 40px;
    }

    .event_wrap,
    .hotpic_wrap,
    .most_wrap {
        display: block;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        margin-top: 10px;
    }

    .event_box {
        position: relative;
    }

    .hotpic_box,
    .most_box {
        width: 100%;
        height: 100%;
    }

    .hotpic_bg,
    .most_bg {
        height: 100%;
        width: 100%;
    }

    .hotpic_text,
    .most_text {
        bottom: 0;
    }

    .hotpic_grade {
        width: 80px;
        height: 14px;
        margin-top: 20px;
    }

    .hotpic_grade div {
        width: 14px;
    }

    .hotpic_wrap .swiper-slide .hotpic_main,
    .most_wrap .swiper-slide .most_main {
        width: 100%;
    }

    .main_text_box {
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: 10px 10px;
    }

    .main_text_box button {
        width: 100%;
        padding: 16px 10px;
        margin-top: 8px;
        font-size: 14px;
    }

    .hotpic_wrap .swiper-slide .hotpic_main,
    .most_wrap .swiper-slide div:last-child {
        margin-right: 0px;
    }

    .event_box img,
    .hotpic_box>div,
    .most_box>div {
        width: 100%;
        height: 100%;
    }

    .most_box>p {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
    }

    .hotpic_text,
    .most_text {
        width: 100%;
        padding: 10px 10px;
    }

    .hotpic_price {
        bottom: 10px;
    }

    .hotpic_price span {
        font-size: 12px;
        margin-left: 4px;
    }

    .hotpic_box>div>p {
        width: 80%;
    }

    .hotpic_wrap .swiper-slide,
    .most_wrap .swiper-slide {
        display: flex;
    }

    .hotpic_wrap .swiper-slide>div,
    .most_wrap .swiper-slide>div {
        margin-right: 10px;
        border-radius: 6px;
    }

    .hotpic_wrap .swiper-slide div:nth-of-type(3),
    .most_wrap .swiper-slide div:nth-of-type(3) {
        display: none;
    }

    .home_cont .swiper {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    .home_cont .swiper-button-prev,
    .home_cont .swiper-button-next {
        width: 52px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .home_cont .swiper-button-next {
        right: 0;
    }
}

@media screen and (max-width: 480px) {
    .home_top {
        height: 100%;
        padding: 20px 0px;
        margin: 0;
    }

    .home_bg {
        width: 100%;
        border-radius: 0px;
        padding: 0px;
    }

    .home_wrap {
        background-image: none;
        height: 100%;
        margin-top: 0;
        padding: 0;
    }

    .home_wrap h3 {
        font-size: 14px;
        text-align: left;
        padding-left: 20px;
        color: #0c0121;
    }

    #homeVisual {
        position: static;
        margin-top: 0px;
        padding: 20px 20px 40px;
    }

    .home_cont {
        padding: 0px;
    }

    .event_wrap,
    .hotpic_wrap,
    .most_wrap {
        position: relative;
        width: 100%;
        /* 부모 요소의 너비를 100%로 설정 */
        padding-bottom: 61.25%;
        /* 16:9 비율 (9/16 * 100) */
        margin-top: 0px;
    }

    .event_box_dark {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #1919191c, #ffffff00, #1919191c);
        position: absolute;
        top: 0px;
    }

    .hotpic_wrap {
        display: flex;
    }

    .event_box,
    .hotpic_box,
    .most_box {
        height: 100%;
        border-radius: 6px;
        overflow: hidden;
    }

    .hotpic_box,
    .most_box {
        flex: 1 0 47%;
        margin-right: 10px;
    }

    .hotpic_box:nth-of-type(2),
    .most_box:nth-of-type(2) {
        margin-right: 0px;
    }

    .event_box img,
    .hotpic_box>div,
    .most_box>div {
        width: 100%;
        height: 100%;
    }

    .hotpic,
    .most_travel {
        margin-top: 40px;
    }

    .most_travel {
        margin-bottom: 80px;
    }

    .hotpic_text,
    .most_text {
        top: 0;
        padding: 8px;
    }

    .hotpic_bg,
    .most_bg {
        width: 100%;
        height: 100%;
        background: linear-gradient(#1919199d, #ffffff00, #1919199d);
        border-radius: 6px;
    }

    .hotpic_text>p,
    .most_box>p {
        font-size: 14px;
        width: 65%;
    }

    .most_box>p {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }

    .hotpic_price {
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 8px;
    }

    .hotpic_price p {
        font-size: 18px;
        font-family: 'nanumbarungothicbold';
        color: #fff;
        margin-right: 4px;
    }

    .hotpic_price span {
        font-size: 12px;
        color: #b9b9b9;
    }

    .hotpic_grade {
        width: 100%;
        height: 14px;
        display: flex;
    }

    .korea,
    .japan,
    .thai,
    .phil {
        flex: 1 0 47%;
        margin-right: 10px;
    }

    .most_main>div:nth-of-type(2) {
        width: 100%;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px 10px;
    }


    .most_main>div:nth-of-type(2) button,
    .hotpic_main>div:nth-of-type(2) button {
        width: 100%;
        padding: 10px;
        margin-top: 4px;
    }

    .hotpic_grade div {
        width: 14px;
        height: 14px;
    }

    #homeVisual .swiper {
        margin-top: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    #homeVisual .swiper-slide {
        width: 335px;
        display: flex;
        justify-content: space-around;
    }

    #homeVisual .swiper-button-prev,
    #homeVisual .swiper-button-next {
        width: 52px;
        height: 52px;
        position: absolute;
        z-index: 10;
        top: 37%;
        left: 0px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #homeVisual .swiper-button-prev {
        background-image: url('https://github.com/user-attachments/assets/07969943-db2a-4af3-96d1-4d66f8d1a604');
    }

    #homeVisual .swiper-button-next {
        background-image: url('https://github.com/user-attachments/assets/88bc4b88-e958-4478-9dc1-1579810ec7c2');
    }

    #homeVisual .swiper-button-next {
        right: 0px;
        left: auto;
        background-position: right;
    }

    #homeVisual .swiper-slide div:nth-of-type(4),
    #homeVisual .swiper-slide div:nth-of-type(3) {
        display: none;
    }

    .mb_finder_btn_wrap {
        width: 100%;
        height: 42px;
        padding: 0px 20px;
        margin-top: 10px;
    }

    .mb_finder_btn {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        border-radius: 6px;
        line-height: 42px;
        display: flex;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px #1919192f;
    }

    .mb_finder_btn_icon {
        width: 30px;
        height: 30px;
        margin-top: 6px;
        margin-right: 8px;
        background: red;
    }

    .mb_finder_btn p {
        font-size: 14px;
        color: #0c0121;
    }
}